header	{
	padding: 20px;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;

}
body{
	background-color: #F6F8F9;
}

.logo {
	color: #fa6980;
	font-size: 13px;
	vertical-align: middle;
	font-family: 'helvetica', sans-serif;
	font-weight: 700;
	margin-right: 90px;
}
nav {
	vertical-align: middle;
	display: inline-block;
}
li {
	display: inline-block;
	margin-right: 20px;
	font-size: 11px;
}
li a {
	color: black;

	font-weight:700 ;
	font-family: 'helvetica', sans-serif;
	opacity: 50%;
}
.active {
	opacity: 100%;
}
.headerlogo {
	display: inline-block;
	vertical-align: middle;
	margin-left: 39px;
}
.container {
	position: absolute;
	width: 1160px;
	height: 410px;
	left: 140px;
	top: 75px;
}
h2 {
	
	font-family: 'helvetica', sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 40px;
}

.card {
	
	width: 360px;
	height: 350px;
	background-color: #FFFFFF;
}
.shvili {
	position: absolute;
	width: 360px;
	height: 180px;
}
p {	
	
	color: #a6adb4;
	font-size: 13px;
	margin-top: 75PX;
	margin-left: 40px;
	width: 281px;
	height: 38px;
	font-family: 'helvetica', sans-serif
	
}

.icon {
	position: relative;
	left:40px;
}
.time {

}